.my_center{
	.my_head{
		width:100%;
		height:1.26rem;
		background: url(/item/images/new_personal_third_login_bg.png) -2.3rem center;
		@include flexbox();
		@include flex-direction(column);
		.head_top{
			height:.4rem;
			width:100%;
			@include flexbox();
			div{
				height:100%;
				&:nth-child(1){
					@include flex(1);
					height:100%;
				}
				&:nth-child(2){
					width:.93rem;
					height:100%;
					@include flexbox();
					i{
						@include flex(1);
						@include flexbox();
						@include justify-content(center);
          				@include align-items(center);
          				font-size:.14rem;
          				color:#fff;
					}
					span{
						@include flex(1);
						@include flexbox();
						@include justify-content(center);
          				@include align-items(center);
          				img{
          					width:40%;
          				}
					}

				}
			}
		}
		.head_bottom{
			@include flex(1);
			width:100%;
			@include flexbox();
			div{
				&:nth-child(1){
					width:1.04rem;
					@include flexbox();
					@include justify-content(center);
					@include align-items(flex-start);
					img{
						width:70%;
					}
				}
				&:nth-child(2){
					@include flex(1);
					@include flexbox();
					@include flex-direction(column);
					span{
						@include flex(1);
						width:100%;
						&:nth-child(1){
							@include flexbox();
							@include align-items(center);
							font-size:.14rem;
							color:#fff;
						}
						&:nth-child(2){
							font-size:.12rem;
							color:rgba(255,255,255,0.6);
						}
					}
				}
				&:nth-child(3){
					width:1.04rem;
					@include flexbox();
					@include justify-content(flex-end);
					@include align-items(center);
					span{
						display:block;
						width:.82rem;
						height:.38rem;
						background: url(/item/images/new_personal_checkin_bg.png);
						@include flexbox();
						@include justify-content(center);
						@include align-items(center);
						img{
							width:22%;
						}
						i{
							color: #fff;
							font-size:.14rem;
						}
					}
				}
			}
		}
	}
}